.app {
  height: 100vh;
}

.content {
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

/* Header */
header {
  height: 64px;
  background-color: #3023ae;
  width: 100%;
}
.header {
  display: flex;
  /* align-items: center; */
  height: 100%;
  justify-content: space-between;
  color: white;
}
.header > div {
  display: flex;
  align-items: center
}
.header .logo {
  padding: 10px;
}
.header a {
  text-decoration: none;
  color: white;
}

/* Messages */
.messages-wrapper {
  max-height: calc(100vh - 64px);
  overflow: hidden;
  width: 35%;
}

ul.messages-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 15px 0 0;
  max-height: 100%;
  overflow: scroll;
}

li.messages-item {
  display: flex;
  margin-bottom: 10px;
  border-radius: 4px;
}

li.messages-item.recovery {
  border: 1px solid black;
}

li.messages-item.alert {
  border: 1px solid red;
}

li.messages-item .explanation {
  align-self: center;
  padding: 10px;
}

li.messages-item .icon {
  padding: 10px;
  align-self: center; 
}

li.messages-item.recovery .divider {
  border-left: 1px solid black;
}

li.messages-item.alert .divider{
  border-left: 1px solid red;
}

/* Graph */
.graphs-wrapper {
  width: 65%;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.tooltip{
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background:#f5f5f5;
  border: 1px solid #3023ae;
  border-radius: 4px;
  pointer-events: none;
  opacity:0;
}